header{
    border: 3px solid black;
    min-height: 100px;
}

.logo{
    float: left;
}

body{
    margin: 0 auto;
    max-width: 1100px;
}

.buscador{
    float: right;
    display: inline;
}

.cabecera2{
    border: 3px solid black;
    clear:both;
}

.cuerpoPrincipal{
    margin-top: 10px;
    clear:both;
}

.noticias{
    border: 1px solid black;
    max-width: 200px;
    float: left;
    margin-bottom: 20px;
}

.principalImagenes{
    border: 1px solid black;
    min-width: 850px;
    float: right;
}

.cajaIzquierda{
    border: 1px solid black;
    max-width: 630px;
    float: left;
}

.cajaDerecha{
    border: 1px solid black;
    max-width: 200px;
    float: right;
}

.imagen1{
float: left;
margin-right: 10px;
}

.footer{
    margin-bottom: 20px;
    border: 1px solid black;
    clear:both;
}

.enlaces{
    float: left;
    margin-left: 5px;
}

.copyright{
    float: right;
    margin-right: 5px;
}